{% extends 'EtheriqLesson8Bundle::base.html.twig' %}

{% block title %}
    Страница не найдена
{% endblock title %}

{% block header %}
    <nav style="margin: 20px 0 20px 150px; text-align: left;">
        <a href="{{ path('homepage') }}" class="btn btn-default">На главную</a>
    </nav>
{% endblock header %}

    {% block content %}

        <div class="well">
            <p>Страница {{ pageNumber }} не найдена.</p>
        </div>

    {% endblock content %}

